// variables
@light-blue: rgb(186, 219, 218);

@html-bg: rgb(62, 59, 68);
@co-bg: lighten(@light-blue, 10%);
@co-text: @html-bg; // rgb(32, 33, 61);
@html-text: lighten(@light-blue, 10%);
@content-font: "Share Tech Mono", monospace;
@h-font: "Nova Mono", monospace;
@good: rgb(73, 183, 111);
@medium: rgb(226, 217, 36);
@poor: rgb(165, 16, 48);

// styles
html {
  background-color: @html-bg;
  height: 100%;
  min-height: 100%;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: @content-font;
}

.header {
  width: 100%;
  background: darken(@html-bg, 5%);
  height: 48px;
  border-bottom: solid 0.1px rgb(0, 0, 0);
  position: relative;
  div { color: @html-text; }
  .status {
    padding-top: 12px;
    width: 800px;
    margin: 0 auto;
  }
  .logout {
    position: absolute;
    top: 12px;
    right: 0px;
  }
  .good { color: @good; }
  .medium { color: @medium; }
  .poor { color: @poor; }
  .logout {
    float: right;
    &:hover { cursor: pointer; }
  }
}

.body {
  width: 800px;
  margin: 0 auto;
  padding: 5px;
  color: @html-text;
}

h2 {
  color: @html-text;
  border-bottom: solid 0.5px rgb(195, 195, 195);
  font-family: @h-font;
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: rgb(62,59,68); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(62,59,68) 0%, rgb(186,219,218) 50%, rgb(62,59,68) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(62,59,68) 0%,rgb(186,219,218) 50%,rgb(62,59,68) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(62,59,68) 0%,rgb(186,219,218) 50%,rgb(62,59,68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

input[type="text"], input[type="password"], button, input[type="submit"] {
  display: block;
  margin: 4px 0;
}

button, input[type="submit"] {
  width: 120px;
  height: 30px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 40px;
  text-indent: 5px;
  background: @co-bg;
  border: 0;
  &:focus { background: lighten(@co-bg, 15%); }
  &::placeholder { font-family: @content-font; }
}

.link {
  padding: 5px;
  a {
    color: @html-text;
    &:visited { color: lighten(@html-text, 20%); }
  }
  &.odd {
    background: @co-bg;
    color: @co-text;
    a {
      color: @co-text;
      &:visited { color: darken(@co-text, 20%); }
    }
  }
}
